body {
  font-family: sans-serif;
  background: #eaf7ff;
  color: #123c56;
  padding: 20px;
}
button {
  margin: 5px;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  background: #53a4c5;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
}
button:hover {
  background: #366b87;
}
.card {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 2px 10px #aaa3;
  padding: 24px;
  margin-bottom: 20px;
  max-width: 400px;
  margin-left:auto; margin-right:auto;
  transition:box-shadow .2s;
}
.card:hover { box-shadow:0 4px 20px #9993; }